html {
  background-image: url('../img/bg5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(77, 72, 66);
  overflow-y: scroll;
}
body{
  width:100%;
  margin:0;
}
.btn {
  margin-top:20%;
  padding:20px;
  position:fixed;
  font-size:30px;
  border-radius:5px;
  font-family: 'Julius Sans One', sans-serif;
  border-color: rgb(137, 172, 140);
  border-width:2px;
  border-style:solid;
  background-color: white;
  outline:none;
  color:rgb(137, 172, 140);
}
.btn:hover, .btn:active, .btn::before, .btn::after, .btn::selection, .btn:checked, .btn:default, .btn:disabled {
  font-weight:bold;
  color:rgb(137, 172, 140);
}
ol {
  margin: 5% auto 0;
}
li {
  margin: 10px auto 0;
  padding: 30px 10px;
  background-image: url('../img/raffleticket.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size:40px;
  font-family: 'Indie Flower', cursive;
  color:white;
}
